.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/artifacts/TtsReader_jvm_1_0_SNAPSHOT.xml
/.idea/caches/deviceStreaming.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/.gitignore
/.idea/AndroidProjectSystem.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.kotlin/errors/errors-1752585833683.log
/wix311/doc/bal.xsd
/wix311/doc/complus.xsd
/wix311/doc/Dependency.xsd
/wix311/doc/difxapp.xsd
/wix311/doc/DTF.chm
/wix311/doc/DTFAPI.chm
/wix311/doc/firewall.xsd
/wix311/doc/gaming.xsd
/wix311/doc/http.xsd
/wix311/doc/iis.xsd
/wix311/doc/lux.xsd
/wix311/doc/msmq.xsd
/wix311/doc/netfx.xsd
/wix311/doc/ps.xsd
/wix311/doc/sql.xsd
/wix311/doc/tag.xsd
/wix311/doc/thmutil.xsd
/wix311/doc/util.xsd
/wix311/doc/vs.xsd
/wix311/doc/WiX.chm
/wix311/doc/wix.xsd
/wix311/doc/wixloc.xsd
/wix311/sdk/inc/aclutil.h
/wix311/sdk/inc/apputil.h
/wix311/sdk/inc/apuputil.h
/wix311/sdk/inc/atomutil.h
/wix311/sdk/inc/BalBaseBootstrapperApplication.h
/wix311/sdk/inc/balcondition.h
/wix311/sdk/inc/balinfo.h
/wix311/sdk/inc/balretry.h
/wix311/sdk/inc/balutil.h
/wix311/sdk/inc/buffutil.h
/wix311/sdk/inc/butil.h
/wix311/sdk/inc/cabcutil.h
/wix311/sdk/inc/cabutil.h
/wix311/sdk/inc/certutil.h
/wix311/sdk/inc/conutil.h
/wix311/sdk/inc/cryputil.h
/wix311/sdk/inc/custommsierrors.h
/wix311/sdk/inc/deputil.h
/wix311/sdk/inc/dictutil.h
/wix311/sdk/inc/dirutil.h
/wix311/sdk/inc/dlutil.h
/wix311/sdk/inc/dutil.h
/wix311/sdk/inc/eseutil.h
/wix311/sdk/inc/fileutil.h
/wix311/sdk/inc/gdiputil.h
/wix311/sdk/inc/IBootstrapperApplication.h
/wix311/sdk/inc/IBootstrapperBAFunction.h
/wix311/sdk/inc/IBootstrapperEngine.h
/wix311/sdk/inc/iis7util.h
/wix311/sdk/inc/inetutil.h
/wix311/sdk/inc/iniutil.h
/wix311/sdk/inc/jsonutil.h
/wix311/sdk/inc/locutil.h
/wix311/sdk/inc/logutil.h
/wix311/sdk/inc/memutil.h
/wix311/sdk/inc/metautil.h
/wix311/sdk/inc/osutil.h
/wix311/sdk/inc/pathutil.h
/wix311/sdk/inc/perfutil.h
/wix311/sdk/inc/polcutil.h
/wix311/sdk/inc/procutil.h
/wix311/sdk/inc/regutil.h
/wix311/sdk/inc/resrutil.h
/wix311/sdk/inc/reswutil.h
/wix311/sdk/inc/rexutil.h
/wix311/sdk/inc/rmutil.h
/wix311/sdk/inc/rssutil.h
/wix311/sdk/inc/sceutil.h
/wix311/sdk/inc/shelutil.h
/wix311/sdk/inc/sqlutil.h
/wix311/sdk/inc/srputil.h
/wix311/sdk/inc/strutil.h
/wix311/sdk/inc/svcutil.h
/wix311/sdk/inc/thmutil.h
/wix311/sdk/inc/timeutil.h
/wix311/sdk/inc/uriutil.h
/wix311/sdk/inc/userutil.h
/wix311/sdk/inc/wcalog.h
/wix311/sdk/inc/wcautil.h
/wix311/sdk/inc/wcawow64.h
/wix311/sdk/inc/wcawrapquery.h
/wix311/sdk/inc/wiutil.h
/wix311/sdk/inc/wuautil.h
/wix311/sdk/inc/xmlutil.h
/wix311/sdk/vs2010/lib/x64/deputil.lib
/wix311/sdk/vs2010/lib/x64/dutil.lib
/wix311/sdk/vs2010/lib/x64/wcautil.lib
/wix311/sdk/vs2010/lib/x86/balutil.lib
/wix311/sdk/vs2010/lib/x86/deputil.lib
/wix311/sdk/vs2010/lib/x86/dutil.lib
/wix311/sdk/vs2010/lib/x86/wcautil.lib
/wix311/sdk/vs2012/lib/x64/deputil.lib
/wix311/sdk/vs2012/lib/x64/dutil.lib
/wix311/sdk/vs2012/lib/x64/wcautil.lib
/wix311/sdk/vs2012/lib/x86/balutil.lib
/wix311/sdk/vs2012/lib/x86/deputil.lib
/wix311/sdk/vs2012/lib/x86/dutil.lib
/wix311/sdk/vs2012/lib/x86/wcautil.lib
/wix311/sdk/vs2013/lib/x64/deputil.lib
/wix311/sdk/vs2013/lib/x64/dutil.lib
/wix311/sdk/vs2013/lib/x64/wcautil.lib
/wix311/sdk/vs2013/lib/x86/balutil.lib
/wix311/sdk/vs2013/lib/x86/deputil.lib
/wix311/sdk/vs2013/lib/x86/dutil.lib
/wix311/sdk/vs2013/lib/x86/wcautil.lib
/wix311/sdk/vs2015/lib/x64/deputil.lib
/wix311/sdk/vs2015/lib/x64/dutil.lib
/wix311/sdk/vs2015/lib/x64/wcautil.lib
/wix311/sdk/vs2015/lib/x86/balutil.lib
/wix311/sdk/vs2015/lib/x86/deputil.lib
/wix311/sdk/vs2015/lib/x86/dutil.lib
/wix311/sdk/vs2015/lib/x86/wcautil.lib
/wix311/sdk/vs2017/lib/x64/deputil.lib
/wix311/sdk/vs2017/lib/x64/dutil.lib
/wix311/sdk/vs2017/lib/x64/wcautil.lib
/wix311/sdk/vs2017/lib/x86/balutil.lib
/wix311/sdk/vs2017/lib/x86/deputil.lib
/wix311/sdk/vs2017/lib/x86/dutil.lib
/wix311/sdk/vs2017/lib/x86/wcautil.lib
/wix311/sdk/x64/sfxca.dll
/wix311/sdk/x86/sfxca.dll
/wix311/sdk/BootstrapperCore.config
/wix311/sdk/BootstrapperCore.dll
/wix311/sdk/BootstrapperCore.xml
/wix311/sdk/DocCompiler.exe
/wix311/sdk/MakeSfxCA.exe
/wix311/sdk/MakeSfxCA.exe.config
/wix311/sdk/Microsoft.Deployment.Compression.Cab.dll
/wix311/sdk/Microsoft.Deployment.Compression.Cab.xml
/wix311/sdk/Microsoft.Deployment.Compression.dll
/wix311/sdk/Microsoft.Deployment.Compression.xml
/wix311/sdk/Microsoft.Deployment.Compression.Zip.dll
/wix311/sdk/Microsoft.Deployment.Compression.Zip.xml
/wix311/sdk/Microsoft.Deployment.Resources.dll
/wix311/sdk/Microsoft.Deployment.Resources.xml
/wix311/sdk/Microsoft.Deployment.WindowsInstaller.dll
/wix311/sdk/Microsoft.Deployment.WindowsInstaller.Linq.dll
/wix311/sdk/Microsoft.Deployment.WindowsInstaller.Linq.xml
/wix311/sdk/Microsoft.Deployment.WindowsInstaller.Package.dll
/wix311/sdk/Microsoft.Deployment.WindowsInstaller.Package.xml
/wix311/sdk/Microsoft.Deployment.WindowsInstaller.xml
/wix311/sdk/MsgGen.exe
/wix311/sdk/wix.ca.targets
/wix311/sdk/wix.nativeca.targets
/wix311/sdk/XsdGen.exe
/wix311/sdk/XsdStitch.exe
/wix311/x86/burn.exe
/wix311/candle.exe
/wix311/candle.exe.config
/wix311/darice.cub
/wix311/dark.exe
/wix311/dark.exe.config
/wix311/difxapp_x64.wixlib
/wix311/difxapp_x86.wixlib
/wix311/heat.exe
/wix311/heat.exe.config
/wix311/insignia.exe
/wix311/insignia.exe.config
/wix311/LICENSE.TXT
/wix311/light.exe
/wix311/light.exe.config
/wix311/lit.exe
/wix311/lit.exe.config
/wix311/lux.exe
/wix311/lux.exe.config
/wix311/lux.targets
/wix311/LuxTasks.dll
/wix311/melt.exe
/wix311/melt.exe.config
/wix311/mergemod.cub
/wix311/mergemod.dll
/wix311/Microsoft.Deployment.Compression.Cab.dll
/wix311/Microsoft.Deployment.Compression.dll
/wix311/Microsoft.Deployment.Resources.dll
/wix311/Microsoft.Deployment.WindowsInstaller.dll
/wix311/Microsoft.Deployment.WindowsInstaller.Package.dll
/wix311/mspatchc.dll
/wix311/nit.exe
/wix311/nit.exe.config
/wix311/pyro.exe
/wix311/pyro.exe.config
/wix311/retina.exe
/wix311/retina.exe.config
/wix311/shine.exe
/wix311/shine.exe.config
/wix311/smoke.exe
/wix311/smoke.exe.config
/wix311/ThmViewer.exe
/wix311/torch.exe
/wix311/torch.exe.config
/wix311/wconsole.dll
/wix311/winterop.dll
/wix311/wix.dll
/wix311/wix.targets
/wix311/wix200x.targets
/wix311/wix2010.targets
/wix311/WixBalExtension.dll
/wix311/WixComPlusExtension.dll
/wix311/WixCop.exe
/wix311/WixDependencyExtension.dll
/wix311/WixDifxAppExtension.dll
/wix311/WixDirectXExtension.dll
/wix311/WixFirewallExtension.dll
/wix311/WixGamingExtension.dll
/wix311/WixHttpExtension.dll
/wix311/WixIIsExtension.dll
/wix311/WixLuxExtension.dll
/wix311/WixMsmqExtension.dll
/wix311/WixNetFxExtension.dll
/wix311/WixPSExtension.dll
/wix311/WixSqlExtension.dll
/wix311/WixTagExtension.dll
/wix311/WixTasks.dll
/wix311/WixUIExtension.dll
/wix311/WixUtilExtension.dll
/wix311/WixVSExtension.dll
/wix311/WixVSExtension.MSBuild12.dll
/wix311/WixVSExtension.MSBuild14.dll
